<% title "Contact Us: " %>

<p>Ha-Raleqele Cultural Consultants<br>
19a Banbury Road, Westdene 2092<br>
Johannesburg, South Africa
</p>

<p> Telephone: 011 434 5092 <br>
	Emails: <br>
	Prof David Coplan: dcoplan@wits.ac.za<br>
	Ms Nonhlanhla Ngwenya: ngwenya@gmail.com 
	</p>