<% title "Contact Us: " %>

<p>Ha-Raleqele Cultural Consultants<br>
19a Banbury Road, Westdene 2092<br>
Johannesburg, South Africa
</p>

<p> 
David B. Coplan <br>
The Professor and Chair in Anthropology <br>
P.B.3 Wits 2050 Johannesburg <br>
011-717-4405 office <br>
0833287882 cell <br>
0865535984 fax <br>
Home 011-4777525 <br>
e-mail david.coplan@wits.ac.za <br>

<p>Research parter</p> 

Nonhlanhla <br>
Email: noni.ngwenya@gmail.com <br>
Cell:  0721847620 


	</p>