<% title "Welcome to HaRaleqele!" %>
<!-- content-wrap starts -->
	<div id="content-wrap">
				
		<div id="main">
	<table> <tr valign="top" ><td><p><a href=""><img src="images/David1.jpg" width="100" height="120" alt="Prof David Coplan" class="float-left" /></a>
			Ha-Raleqele Cultural Consultants was established in 1997 in order to provide well-researched, penetrating and realistically sympathetic information and programs on African and South African cultures.  Our purpose is to assist government departments, cultural industries, business, educational institutions, NGOs, performing arts and the media in producing effective programs dealing with cultural diversity and its role in building a new national identity. The founder of Ha-Raleqele Cultural Consultants is David B. Coplan, Ph.D., the Professor and Chair in Anthropology at the University of the Witwatersrand. Professor Coplan has also lectured at Cape Town, Paris, Oxford, University of Pennsylvania, Bergen, Basel, Zurich, Lesotho, Zimbabwe, Ghana, Ibadan, and Dakar among other universities. His many books and publications, both academic and popular, include In Township Tonight! Three Centuries of South African Black Music and Theatre (2nd edition, Jacana 2007). His partner at Ha-Raleqele is Nonhlanhla Ngwenya, M.A. Heritage, Arts, and Tourism Management (Wits), who has wide consulting experience in private and public cultural industries, institutions, and the media. She currently works for Urban Brew television production studios. 
We offer expert project consultation, live on-site presentations and day-long workshops, script development and writing, and written and audio-visual documentation and reports of all kinds, directed at a full range of popular and specialised audiences. 
 				
			</p></td>
			<td><p><a href=""><img src="images/noni3.jpg" width="100" height="120" alt="Assistant Researcher" class="float-left" /></a>
			Nonhlanhla Ngwenya. 
I’m a Research Consultant and I run a Talent Booking Agency. Through my work experience as  a researcher and artist manager, I possess unique skills to provide specialized services in conducting field work research especially  in the arts, culture and tourism sector. I have worked with scholars, corporate people, performing artists, movie directors and television producers. I am a member of Ha-Raleqele Cultural Consultants and work with Professor David Coplan doing research for a number of companies and organizations. For example, Rand Water: Cultural Diversity in the work place; UNDP (United Nations Development Programme): South South Cooperation; Khanya College: Workers Museum Development Project; University of Pretoria: The Centre for the study of AIDS; FNB: Employment Equity; Urban Brew studios: Africa Inc. I worked as a NewMusic Indaba Coordinator at NewMusicSA. I also worked at Wits University Alumni Affairs and Finance Department. 

 				
			</p> </td> </tr> </table>			
			

		<!-- main ends -->	
		</div>
		<!-- content wrap ends-->
		</div>
		</div>