<% title "Past Projects" %>


<ol>
	<li>Randwater – Diversity in the Workplace</li>
	<li>Hannover Insurance - Diversity in the Workplace</li>
	<li>Island Publishers – Cultural phrase books in local SA languages</li>
	<li>CRL Commission (Chapter 9): Research and conference planning for project on Sacred Sites</li>
	<li>Research on management reform at South Africa’s international borders</li>
	<li>Urban Brew: Development of local television shows</li>
	<li>UNDP South-South Collaboration Project </li>
	</ol>