<% title "Services" %>

<p> Cultural diversity in the workplace; African and South African traditions, cultural history, heritage, languages, media and performing arts; arts and media event management; social, cultural, and media issues assessments; marketing research; heritage and cultural tours. </p>