<% title "Services" %>

<div id="big">
<ul> 
<p><li>Cultural diversity in the workplace;</li></P>

<p><li> African and South African traditions;</li></p>

<p><li> cultural history, heritage, languages, media and performing arts;</li></p>

<p><li> arts and media event management;</li></p>

<p><li>social, cultural, and media issues assessments;</li></p>

<p><li> marketing research;</li></p>

<p><li>heritage and cultural tours.</li></p> </ul>
</div>